.buy_input .product_nostock_btns {
  margin-top: 270px;
  display: flex;
  gap: 6px;
}

/* 수량 증가 감소 컨테이너 */
.buy_input .count_input_container {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 16px;
  border-top: 2px solid var(--primary-line-color);
  border-bottom: 2px solid var(--primary-line-color);
}

.buy_input .option_input_container {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 16px;
  border-top: 2px solid var(--primary-line-color);
  border-bottom: 2px solid var(--primary-line-color);
}
/* input number */
.count_input_container .number_count_input_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 122px;
  height: 40px;
  padding: 0px 11px;
  border: 1px solid var(--primary-border-color);
  border-radius: 5px;
  box-sizing: border-box;
}

.selected-option .selected_option .number_count_input_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 122px;
  height: 40px;
  padding: 0px 11px;
  background-color: white;
  margin-top: 16px;
  border: 1px solid var(--primary-border-color);
  border-radius: 5px;
  box-sizing: border-box;
}
/* - 버튼 */
.minBtn {
  width: 20px;
  height: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.minBtn img {
  width: 100%;
  height: 100%;
}

/* + 버튼 */
.plusBtn {
  width: 20px;
  height: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.plusBtn img {
  width: 100%;
  height: 100%;
}

/* number input */
.numberCount {
  outline: none;
  border: none;
  -moz-appearance: textfield;
  width: 38px;
  height: 95%;
  border: 1px solid var(--primary-border-color);
  text-align: center;
}
.numberCount::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.numberCount::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* select tag */

.option__container .select-box {
  display: flex;
  flex-direction: column;
  position: relative;
}

.select-box .toggle-btn {
  font-size: 14px;
  color: var(--secondary-text-color);
  width: 440px;
  height: 40px;
  text-align: left;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  font-size: 14px;
  font-weight: 400;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 11px 15px 11px 14px;
  background: url(../../assets/icon-Triangle-down.svg) no-repeat;
  background-position: 414px 50%;
}

.select-box .toggle-btn.on {
  background: url(../../assets/icon-Triangle-up.svg) no-repeat;
  background-position: 414px 50%;
}

.select-box-option {
  box-sizing: border-box;
  width: 440px;
  background: #ffffff;
  position: absolute;
  top: 46px;
  border: 1px solid var(--secondary-line-color);
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 4px 8px;
  display: none;
}

.select-box-option.on {
  display: block;
  z-index: 1;
}

.select-box-option li {
  width: 100%;
  margin-top: 10px;
}
.select-box-option li:first-child {
  margin-top: 3px;
}

.select-box-option li:last-child {
  margin-bottom: 5px;
}

.select-box-option .option-btn {
  width: inherit;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  padding: 7px 10px;
  text-align: left;
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: inline-block;
}

.select-box-option li:hover,
.select-box-option li:focus,
.select-box-option li:active {
  background-color: var(--primary-bg-color);
  border-radius: 5px;
}

/* 옵션 선택시 정보 및 카운트 input 표시되는 컴포넌트 */

.option_input_container .selected_container {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.selected_container .selected_option {
  width: 438px;
  height: 104px;
  background: var(--secondary-bg-color);
  padding: 14px;
  position: relative;
  border-radius: 5px;
}

.selected_option .closeOption {
  position: absolute;
  top: 15px;
  right: 10px;
}
.selected_option .option_info {
  margin-top: 16px;
  display: flex;
  align-items: flex-end;
  height: 40px;
  justify-content: space-between;
}

.option_info .option_count_input_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 122px;
  height: 40px;
  padding: 0px 11px;
  border: 1px solid var(--primary-border-color);
  border-radius: 5px;
  background-color: white;
  box-sizing: border-box;
  background-color: white;
}

/* - 버튼 */
.option_minBtn {
  width: 20px;
  height: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.option_minBtn img {
  width: 100%;
  height: 100%;
}

/* + 버튼 */
.option_plusBtn {
  width: 20px;
  height: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.option_plusBtn img {
  width: 100%;
  height: 100%;
}

/* number input */
.option_numberCount {
  outline: none;
  border: none;
  -moz-appearance: textfield;
  width: 38px;
  height: 95%;
  border: 1px solid var(--primary-border-color);
  text-align: center;
}
.option_numberCount::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.option_numberCount::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.option_info span {
  font-size: 24px;
  font-weight: 700;
}
/* 총 가격 컨테이너 */
.buy_input .price_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0px;
}
/* 총 상품 구매 텍스트 */
.price_container h1 {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}
/* 수량 및 총 금액 */
.price_container .total_price_info {
  display: flex;
  align-items: center;
  color: var(--thirds-color);
}
/* 수량 숫자 */
.total_price_info .count_text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: var(--secondary-text-color);
  padding-right: 12px;
  border-right: 2px solid var(--secondary-line-color);
}
.count_number {
  color: var(--thirds-color);
  font-weight: 700;
}

.total_price_info .total_price_count {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: var(--thirds-color);
  margin-left: 12px;
}

/* 버튼 컨테이너 */
.product_stock_btns {
  display: flex;
  gap: 6px;
}

/*  바로구매 버튼 */
.product_nostock_btns .submit_btn {
  width: 308px;
  height: 60px;
  background-color: var(--primary-border-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: white;
  cursor: inherit;
}

.product_stock_btns .submit_btn {
  width: 308px;
  height: 60px;
  background-color: var(--secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: white;
  cursor: pointer;
}

/* 카트 버튼 */
.product_nostock_btns .addCart_btn {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  background-color: var(--primary-border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: inherit;
}

.product_stock_btns .addCart_btn {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  border: 1px solid var(--primary-border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.addCart_btn img {
  width: 22px;
  height: 22px;
}

/* 좋아요 버튼 */
.product_nostock_btns .modal_heart_btn {
  width: 60px;
  height: 60px;
  border: 1px solid var(--primary-border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.product_stock_btns .modal_heart_btn {
  width: 60px;
  height: 60px;
  border: 1px solid var(--primary-border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.modal_heart_btn .modal_heart_btn_on.modal_heart_btn_cancel {
  width: 22px;
  height: 22px;
}
