.home_btn {
  position: absolute;
  outline: none;
  border: none;
  top: 0;
  right: -140px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  cursor: pointer;
}
.home_btn img {
  color: var(--primary-color);
  width: 30px;
  height: 33.33px;
}

.cart_container .cart_title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
.cart_title h1 {
  font-size: 36px;
  font-weight: 700;
  color: var(--primary-text-color);
}

.cart_container .coupon_container {
  margin-bottom: 40px;
}

.sub_title {
  margin-bottom: 16px;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--primary-line-color);
}
.sub_title h2 {
  font-size: 24px;
  font-weight: 400;
  color: var(--primary-text-color);
}
.cart_container .order_product_container {
}
.order_product_container .sel_btn_del_container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}
.sel_btn_del_container .sel_btn_del {
  width: 130px;
  height: 40px;
  font-size: 16px;
  border: 1px solid var(--primary-border-color);
  border-radius: 5px;
  font-weight: 500;
  padding: 10px 0px;
}
.order_product_container .order_navbar {
  height: 60px;
  background-color: var(--primary-color);
  border-radius: 10px;
  display: flex;
}
.order_navbar .order_lists {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 78px;
}
.order_lists li {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}
.order_lists li:nth-child(1) {
  margin-right: 264px;
}
.order_lists li:nth-child(2) {
  margin-right: 302px;
  flex-basis: 67px;
}

.order_lists li:nth-child(3) {
  margin-right: 162px;
  flex-basis: 71px;
}
.order_lists li:nth-child(4) {
  margin-right: 163px;
  flex-basis: 50px;
}
.order_lists li:nth-child(5) {
  flex-basis: 67px;
}
/* 체크 박스 css 설정하기 */
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  width: 16px;
  height: 16px;
  display: block;
  background: url("../assets/icon-check-box-OFF.svg") no-repeat 0 0px / contain;
}
input[type="checkbox"]:checked + label {
  background: url("../assets/icon-check-box-ON.svg") no-repeat 0 1px / contain;
}

.cart_product_list .empty_cart {
  display: flex;
  margin-top: 120px;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  color: var(--secondary-text-color);
}

.cart_product_list .product_cart_lists {
}
.product_cart_lists .product_cart_list {
  margin-top: 16px;
  height: 130px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--secondary-line-color);
}

.product_cart_list .product_info_container {
  display: flex;
  margin-left: 16px;
  align-items: center;
}
.product_info_container .cart_product_img {
  width: 104px;
  height: 104px;
  border-radius: 10px;
  border: 0.5px solid var(--primary-border-color);
}

.product_info_container .product_info {
  width: 398px;
  margin-left: 36px;
  margin-right: 15px;
}

.product_info .cart_product_title {
  font-weight: 400;
  font-size: 18px;
  color: var(--primary-text-color);
}
.product_info .product_price {
  margin: 8px 0px 13px;
  display: flex;
  align-items: center;
}

.product_price .price {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: var(--primary-text-color);
}
.product_price .origin_price {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: line-through;
  color: var(--secondary-text-color);
  margin: 0px 10px;
}
.product_price .discount {
  font-weight: 700;
  font-size: 16px;
  color: var(--secondary-color);
}
.product_info .product_detail {
  font-weight: 400;
  font-size: 14px;
  color: var(--secondary-text-color);
}
.product_detail .option_desc {
}
.product_info_container .coupon_discount {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 93px;
}
.coupon_discount span {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--secondary-text-color);
}
.coupon_discount span:last-child {
  margin-top: 6px;
  font-weight: 700;
  font-size: 18px;
  color: var(--thirds-color);
}
.product_info_container .prices {
  display: flex;
}

.prices .shippingFee {
  width: 63px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--secondary-text-color);
}

.prices .order_price {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  margin-left: 122px;
  color: var(--primary-text-color);
  text-align: center;
  width: 131px;
}
.order_product_container .order_amount_box {
  margin: 60px 0px;
  height: 150px;
  background-color: var(--primary-color);
  border-radius: 10px;
  /* padding-top: 46px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order_amount_box .total_order_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 100px;
  gap: 100px;
}
.total_order_item .order_item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
.order_item span:last-child {
  font-weight: 700;
  font-size: 24px;
}
.order_amount_box .pay_amount {
  margin-right: 80px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
.pay_amount span:last-child {
  font-weight: 700;
  font-size: 36px;
  color: var(--thirds-color);
}
