.not_found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2rem;
  line-height: 15rem;
}
.not_found h1 {
  font-size: 12.5rem;
  font-weight: bold;
}
.not_found span {
  font-size: 2.5rem;
  font-weight: bold;
}
.product_container {
  display: grid;
  grid-template-rows: 1fr;
  gap: 60px;
}
.cart_btn {
  position: fixed;
  outline: none;
  border: none;
  top: 60px;
  right: 10px;
  background-color: transparent;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.cart_btn img {
  width: 40px;
  height: 40px;
}
@media (min-width: 1024px) {
  .product_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
  .cart_btn {
    position: absolute;
    outline: none;
    border: none;
    top: 0;
    right: -140px;
    background-color: transparent;
    width: 80px;
    height: 80px;
    cursor: pointer;
  }
  .cart_btn img {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 1536px) {
  .product_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
  }
  .cart_btn {
    position: absolute;
    outline: none;
    border: none;
    top: 0;
    right: -140px;
    background-color: transparent;
    width: 80px;
    height: 80px;
    cursor: pointer;
  }
  .cart_btn img {
    width: 100%;
    height: 100%;
  }
}
.product_list {
  width: 380px;
  height: 462px;
  color: var(--primary-text-color);
  cursor: pointer;
}
.product_list .img_container {
  position: relative;
}

.img_container .product_img {
  width: 380px;
  height: 380px;
  border-radius: 10px;
  border: 1px solid var(--primary-border-color);
}
.img_container .soldout {
  position: absolute;
  bottom: 30px;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  left: 40px;
  background-color: var(--primary-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_container .soldout span {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: var(--primary-color);
}

.product_content {
  margin-top: 20px;
}
.product_title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.product_title .heart_btn_cancel {
  width: 22px;
  height: 22px;
  background: url(../assets/icon-heart.svg) no-repeat center / contain;
}
.product_title .heart_btn_on {
  width: 22px;
  height: 22px;
  background: url(../assets/icon-heart-on.svg) no-repeat center / contain;
}

.product_value {
  display: flex;
  align-items: center;
}
.product_value .price {
  font-weight: 700;
  font-size: 24px;
  line-height: 30.5px;
}
.product_value .origin_price {
  color: var(--secondary-text-color);
  font-size: 16px;
  font-weight: 400;
  margin: 0px 10px;
  line-height: 20.03px;
  text-decoration: line-through;
}

.product_value .discount {
  font-size: 16px;
  font-weight: 700;
  color: var(--secondary-color);
  line-height: 20.03px;
}
