.home_btn {
  position: absolute;
  outline: none;
  border: none;
  top: 0;
  right: -140px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  cursor: pointer;
}
.home_btn img {
  color: var(--primary-color);
  width: 30px;
  height: 33.33px;
}

.cart_container .cart_title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
.cart_title h1 {
  font-size: 36px;
  font-weight: 700;
  color: var(--primary-text-color);
}

.cart_container .coupon_container {
  margin-bottom: 40px;
}

.sub_title {
  margin-bottom: 16px;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--primary-line-color);
}
.sub_title h2 {
  font-size: 24px;
  font-weight: 400;
  color: var(--primary-text-color);
}
.cart_container .order_product_container {
}
.order_product_container .sel_btn_del_container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}
.sel_btn_del_container .sel_btn_del {
  width: 130px;
  height: 40px;
  font-size: 16px;
  border: 1px solid var(--primary-border-color);
  border-radius: 5px;
  font-weight: 500;
  padding: 10px 0px;
}
.order_product_container .order_navbar {
  height: 60px;
  background-color: var(--primary-color);
  border-radius: 10px;
  display: flex;
}
.order_navbar .order_lists {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 78px;
}
