.item_modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: #00000066;
}
.modal_container {
  width: 990px;
  height: calc(100vh - 100px);
  position: absolute;
  position: relative;
  left: 50%;
  top: 5%;
  overflow-y: initial !important;
  transform: translate(-50%);
  padding: 60px 15px 42px 60px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
}
.closeBtn {
  position: absolute;
  right: 20px;
  top: 20px;
}

.modal_loading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 45px;
  letter-spacing: 0.2rem;
  line-height: 15rem;
  font-size: 3rem;
  font-weight: 800;
}

.modal_content {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: gray transparent;
}

.modal_content::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: gray;
}
.modal_content .product_top_info {
  display: flex;
  gap: 30px;
  margin-right: 37px;
}
.product_top_info .product_img {
  width: 400px;
  height: 400px;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
}

/* product buy input */
.product_top_info .product_buy {
  width: 100%;
  border: 1px solid black;
}

.product_buy .buy_info .buy_name {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.buy_info .buy_value {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.buy_value .price {
  font-weight: 700;
  font-size: 24px;
  line-height: 30.5px;
}
.buy_value .origin_price {
  color: var(--secondary-text-color);
  font-size: px;
  font-weight: 400;
  margin: 0px 10px;
  line-height: 20.03px;
  text-decoration: line-through;
}

.buy_value .discount {
  font-size: 24px;
  font-weight: 700;
  color: var(--secondary-color);
  line-height: 20.03px;
}

.buy_input .product_nostock {
  margin-top: 270px;
  display: flex;
  gap: 6px;
}

.product_stock {
  display: flex;
  gap: 6px;
}
.product_stock .submit_btn {
  width: 308px;
  height: 60px;
  background-color: var(--secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: white;
  cursor: pointer;
}
.product_stock .addCart_btn {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  border: 1px solid var(--primary-border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.product_stock .modal_heart_btn {
  width: 60px;
  height: 60px;
  border: 1px solid var(--primary-border-color);
  border-radius: 5px;
}

.product_nostock .submit_btn {
  width: 308px;
  height: 60px;
  background-color: var(--primary-border-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: white;
  cursor: inherit;
}
.product_nostock .addCart_btn {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  background-color: var(--primary-border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: inherit;
}
.addCart_btn img {
  width: 22px;
  height: 22px;
}

.product_nostock .modal_heart_btn {
  width: 60px;
  height: 60px;
  border: 1px solid var(--primary-border-color);
  border-radius: 5px;
}

.modal_heart_btn .modal_heart_btn_on.modal_heart_btn_cancel {
  width: 22px;
  height: 22px;
}

/* 상품 정보 */
.product_desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 870px;
  margin-top: 40px;
}

.product_desc .name {
  align-self: flex-start;
  font-weight: 400;
  font-size: 16px;
  color: var(--primary-text-color);
  line-height: 20px;
  margin-bottom: 14px;
}

.product_desc table {
  width: 100%;
  border-top: 2px solid #e0e0e0;
  border-bottom: 2px solid #e0e0e0;
}

.product_desc table tr td {
  padding: 13px 0px 13px 12px;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
}
.product_desc table .title {
  width: 150px;
  background-color: #f2f2f2;
}
.product_desc table .content {
  width: 285px;
}

.product_desc img {
  width: 100%;
}
